.emote:hover {
    position: relative;
}

.emote:hover:after {
    content: attr(data);
    padding: 4px 8px;
    color: rgba(255, 255, 255, 1.0);
    position: absolute;
    left: 50%;
    top: 0%;
    white-space: nowrap;
    z-index: 2;
    border-radius: 7px;
    transform: translate(-50%, -225%);
    background: rgba(0, 0, 0, 0.8);
}

.emote_s:hover {
    position: relative;
}

.emote_s:hover:after {
    content: attr(data);
    padding: 4px 8px;
    color: rgba(255, 255, 255, 1.0);
    position: absolute;
    left: 50%;
    top: 0%;
    white-space: nowrap;
    z-index: 2;
    border-radius: 7px;
    transform: translate(-50%, -125%);
    background: rgba(0, 0, 0, 0.8);
}
